@use '../../../variables/variable';
@use "sass:map";

// SYS COLOR THEMEPALET
$systheme-colors: (
   // accent variation
  "accent": variable.$accent-100,
  "accent-90": variable.$accent-90,
  "accent-85": variable.$accent-85,
  "accent-80": variable.$accent-80,
  "accent-75": variable.$accent-75,
  "accent-70": variable.$accent-70,
  "accent-65": variable.$accent-65,
  "accent-60": variable.$accent-60,

  // Olive variation
  "olive": variable.$olive-100,
  "olive-90": variable.$olive-90,
  "olive-85": variable.$olive-85,
  "olive-80": variable.$olive-80,
  "olive-75": variable.$olive-75,
  "olive-70": variable.$olive-70,
  "olive-65": variable.$olive-65,
  "olive-60": variable.$olive-60,

  // Alert variation
  "alert": variable.$alert-100,
  "alert-90": variable.$alert-90,
  "alert-85": variable.$alert-85,
  "alert-80": variable.$alert-80,
  "alert-75": variable.$alert-75,
  "alert-70": variable.$alert-70,
  "alert-65": variable.$alert-65,
  "alert-60": variable.$alert-60,


  //Error variation   
  "error": variable.$error-100,
  "error-90": variable.$error-90,
  "error-85": variable.$error-85,
  "error-80": variable.$error-80,
  "error-75": variable.$error-75,
  "error-70": variable.$error-70,
  "error-65": variable.$error-65,
  "error-60": variable.$error-60,


  // Secondary Variation   
  "secondary": variable.$secondary-100,
  "secondary-90": variable.$secondary-90,
  "secondary-85": variable.$secondary-85,
  "secondary-80": variable.$secondary-80,
  "secondary-75": variable.$secondary-75,
  "secondary-70": variable.$secondary-70,
  "secondary-65": variable.$secondary-65,
  "secondary-60": variable.$secondary-60,

  "dark": variable.$dark-100,
  "dark-90": variable.$dark-90,
  "dark-85": variable.$dark-85,
  "dark-80": variable.$dark-80,
  "dark-75": variable.$dark-75,
  "dark-70": variable.$dark-70,
  "dark-65": variable.$dark-65,
  "dark-60": variable.$dark-60,

  "light": variable.$light-100,
);

.sys-sidebar{
    display: flex;
    .sidebar-content{
        width: 100%;
        padding: 1rem;
        margin-left: 200px;
    }
  
    .sidebar-collapse ~ .sidebar-content{
        margin-left: 70px;
    }
    .sys-container{
        width: 100%;
    }
    .sys-sub-menu{
        padding-left: 0px;
        margin-top: 15px;
        line-height: 1.7;
        display: none;
    }
  
}
.active{
    display: block;
}
.sys-sidebar-menu{
    width: 200px;
    background: white;
    position: fixed;
    left: 0;
   
    height: 100%;
    margin: 0px !important;
    .sys-sidebar-head{
        padding: 0;
        h1,h2,h3,h4,h5,h6{
           font-size: 0.7rem;
        }
        span{
            margin-left: 5px;
        }
        margin-bottom: 1rem;
        padding: 0.8rem;
      i{
        border-radius: 3px;
      }
      
    }
    .sys-sidebar-body{
        ul{
            padding-left: 0px;
            list-style-type: none;
            li{
                position: relative;
                display: block;
                margin: 0.7rem 0px;
                padding: 0.5rem 0;
                a{
                    i{
                        margin-right: 0.6rem;
                    }
                    font-size: 1rem;
                    text-decoration: none;
                    text-transform: capitalize;
                    color: map.get($systheme-colors, "secondary-90");
                    padding: 1rem;
                }
            }
            li:hover{
                background-color: map.get($systheme-colors, "accent-60");
                border-radius: 4px;
                transition: 0.3s;
                a{
                    color: map.get($systheme-colors, "light");
                }
            }
           
        }
    }
    .sys-sidebar-footer{
        margin-top: 1rem;
        .sys-grid{
            align-items: center;
            img{
                margin-right: 1rem;
            }
        }
        .user-pro img{
            width: 40px;
        }
        .sidebar-title{
            font-size: 1rem;
            white-space: nowrap;
        }
        img{
            border-radius: 100%;
            width: 100%;
        }
    }
  
}

.sidebar-scroll{
    overflow-y: scroll;
    height: 100%;
}
.sidebar-scroll::-webkit-scrollbar{
    width: 2px;
    background-color: #F5F5F5;
}

.sidebar-scroll::-webkit-scrollbar-thumb{
    background-color: map.get($systheme-colors, "secondary-60");
}

.sidebar-collapse{
    width: 65px !important;
    overflow: hidden;
    animation-name: slideRight;
    animation-duration: 2s;
    .sys-sidebar-head{
        padding: 0;
        text-align: center;
        h1,h2,h3,h4,h5,h6{
            display: none;
        }
        span{
            display: none;
        }
        #menu{
            a{
                i{
                    padding: 7px 11px !important;
                }
            }
        }
    }

    .sys-sidebar-body{
        ul{
            li{
                margin-right: 0;
                text-align: center;
                a{
                    padding: 0;
                    i{
                        margin-right: 0;
                    }
                    span{
                        display: none;
                    }
                }
            }
            li[title]:hover:after {
                content: attr(title);
                position: absolute;
                top: -100%;
                left: -18px;
                color: white;
                padding: 0px 5px;
                border-radius: 4px;
                font-size: 13px;
                background-color: map.get($systheme-colors, "secondary-80");
            }
        }
    }
    .sys-sidebar-footer{
        .sys-grid{
            flex-wrap: wrap;
            flex-direction: column;
            h1,h2,h3,h4,h5,h6{
                display: none;
            }
            span{
                display: none;
            }
            img{
                border-radius: 100%;
                width: 100%;
            }
        }
    }

    &.sidebar-scroll{
        overflow-y: scroll;
        height: 100vh;
    }
    &.sidebar-scroll::-webkit-scrollbar{
        width: 2px;
        background-color: #F5F5F5;
    }

}

.dark-theme{
    .sys-sidebar-body{
        ul{
            padding-left: 0px;
            list-style-type: none;
            li{
                a{
                    color: map.get($systheme-colors, "light");
                }
            }
        
        }
    }
    .sidebar-scroll{
        overflow-y: scroll;
        height: 100vh;
    }
    .sidebar-scroll::-webkit-scrollbar{
        width: 2px;
        background-color: #F5F5F5;
    }
}