$color-warning:orange;
$color-default:white;
$color-dark:black;
$color-green:green;
$color-blue:blue;
.sys-theme-dark{
    background-color: $color-dark;
    color: $color-default;
}
@mixin btn-warning{
    background-color: $color-warning;
    color: $color-default;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    a{
        text-decoration: none;
    }
}
.sys-btn-warning{
    @include btn-warning;
}
.sys-btn-warning:hover{
    box-shadow: 0px 8px 11px 1px #ffa5003b;
}
// defaut theme theme

.sys-btn-warning:focus{
    transition: 0.4s;
    background-color: #ff6900;
    border: 1px solid white;
}
// dark theme
.sys-theme-dark{
    .sys-btn-warning:hover{
        box-shadow: 0px 2px 14px 3px #ffa500b3;
    }
    .sys-btn-warning:focus{
        transition: 0.4s;
        background-color: #ff6900;
        border: 1px solid white;
    }
}
//for success
@mixin btn-success{
    background-color: $color-green;
    color: $color-default;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    a{
        text-decoration: none;
    }
}
.sys-btn-success{
    @include btn-success;
}
.sys-btn-success:hover{
    box-shadow: 0px 8px 11px 1px #2C9423;
}
// defaut theme theme

.sys-btn-success:focus{
    transition: 0.4s;
    background-color: #55B74C;
    border: 1px solid white;
    color: $color-default;
}
// dark theme
.sys-theme-dark{
    .sys-btn-success:hover{
        box-shadow: 0px 2px 14px 3px #2C9423;
    }
    .sys-btn-success:focus{
        transition: 0.4s;
        background-color: #55B74C;
        border: 1px solid white;
        color: $color-default;
    }
}
//  btn-accent
@mixin btn-accent{
    background-color: $color-blue;
    color: $color-dark;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    a{
        text-decoration: none;
    }
}
.sys-btn-accent{
    @include btn-accent;
}
.sys-btn-accent:hover{
    box-shadow: 0px 8px 11px 1px #304FFE;
}
// defaut theme theme
.sys-btn-accent:focus{
    transition: 0.4s;
    background-color: #7A7CFF;
    border: 1px solid white;
    color: $color-default;
}

// dark theme
.sys-theme-dark{
    .sys-btn-accent:hover{
        box-shadow: 0px 2px 14px 3px #2C9423;
    }
    .sys-btn-accent:focus{
        transition: 0.4s;
        background-color: #7A7CFF;
        border: 1px solid white;
        color: $color-default;
    }
}